<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944047478764-1dqugkdv3nab7en8rtcj4grs6eiaq3ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944047478764-1dqugkdv3nab7en8rtcj4grs6eiaq3ig</string>
	<key>API_KEY</key>
	<string>AIzaSyCLvBZH0EJtVcmd9oH99hnV8YJdCcHnJPU</string>
	<key>GCM_SENDER_ID</key>
	<string>944047478764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deadpool</string>
	<key>PROJECT_ID</key>
	<string>flutter-deadpool</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-deadpool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944047478764:ios:0b32b9d9989cf2ebe692c9</string>
</dict>
</plist>